body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
#preloader{
    background: rgb(255, 255, 255,0.9) url(../images/loading.gif) no-repeat center center;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-size: 25%;
}
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
}
header {
    background-color: #0047AB;
}

h1 {
    text-align: center;
    z-index: 1;
    color: #fff;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0047AB;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    z-index: 99;
}

.tab button:hover {
    background-color: #f5f5f5;
}
.tab button:hover .fa-exclamation-triangle,
.tab button:hover .fa-chart-bar,
.tab button:hover .fa-search-location,
.tab button:hover .fa-info-circle {
    color: #0047AB;
    font-size: 40px;
}
.tab button.active {
    background-color: #f5f5f5;
}
.tab button.active .fa-exclamation-triangle,
.tab button.active .fa-chart-bar,
.tab button.active .fa-search-location,
.tab button.active .fa-info-circle {
    color: #0047AB;
    font-size: 40px;
}
.fa-exclamation-triangle,
.fa-chart-bar,
.fa-search-location,
.fa-info-circle {
    color: #f5f5f5;
    font-size: 40px;
}
.sidebar a {
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}
.tab button {
    display: block;
    background-color: #0047AB;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}
.sidebar a:hover {
    color: #f5f5f5;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #0047AB;
    color: #fff;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #0047AB;
}

#main {
    position: fixed;
    top: 0;
    left: 0;
    transition: margin-left .5s;
    padding: 20px;
    width: fit-content;
    z-index: 1;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}

.fa-walking,
.fa-motorcycle,
.fa-car,
.fa-bus{
    color: #111;
    font-size: 40px;
}
.btn-close {
    color: rgba(255, 255, 255, 0.774);
    background-color: #fff;
}

.iconVehicule {
    display: flex;
    justify-content: space-around;
}

.fa-exchange-alt {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.iconEx {
    padding: 35px 10px;
}

.point {
    margin-left: 10px;
}


#hinh{
    width: 18px;
    height: 18px;
}
@media screen and (max-width: 425px) {
    #main {
        top: auto;
        bottom: 0;
    }
}

.header{
    color: white;
    background-color: #0047AB;
    clear: both

}

.header a i {
    color: white !important;
    font-size: 35px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}

.header h1{
    float: center
}

h2{
    font-weight: bold;
    text-align: center;
}

.counter{
    color: #444;
    background-color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    width: 200px;
    padding: 20px 15px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.3),7px -7px #FCAA02;
    border-radius: 7px;
}
.counter h3{
    color: #fff;
    background-color: #FCAA02;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 6px 6px 5px;
    margin: 0 0 16px;
    border-radius: 5px;
}
.counter .counter-value{
    font-size: 35px;
    line-height: 35px;
    font-weight: 700;
  
    margin: 0 0 15px;
    display: block;
}
.counter .counter-icon{
    color: #FCAA02;
    font-size: 35px;
    line-height: 35px;
}
.counter.red{ box-shadow: 0 0 10px rgba(0,0,0,0.3), 7px -7px #FF664F; }
.counter.red h3{ background-color: #FF664F; }
.counter.red .counter-icon{ color: #FF664F; }

.counter.yellow{ box-shadow: 0 0 10px rgba(0,0,0,0.3), 7px -7px #ffbf00; }
.counter.yellow h3{ background-color: #ffbf00; }
.counter.yellow .counter-icon{ color: #ffbf00; }

.counter.green{ box-shadow: 0 0 10px rgba(0,0,0,0.3), 7px -7px #63a91f}
.counter.green h3{ background-color: #63a91f    ; }
.counter.green .counter-icon{ color: #63a91f   ; }

.counter.gray{ box-shadow: 0 0 10px rgba(0,0,0,0.3), 7px -7px #625f5e; }
.counter.gray h3{ background-color:#625f5e; }
.counter.gray .counter-icon{ color: #625f5e; }

@media screen and (max-width:990px){
    .counter{ margin-bottom: 40px; }
}

/* FOOTER */

footer {
    margin-top: 20px;
    padding: 10px;
    height: fit-content;
    font-family: "Roboto", sans-serif;
    /* text-align: center; */
    color: #fff;
    background-color: #0047AB;
  }
  
  footer h5 {
    color: #ff9900;
    text-align: center;
  }
  
  .subcribe {
    padding-left: 50px;
    border: #fff 1px solid;
  }
  
  .contactInfo {
    text-align: start;
  }
  
  .navigation a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
  }
  
  .navigation a:hover {
    text-decoration: underline;
  }
  
  #fb {
    background: #3b5998;
    color: white;
  }
  
  #ins {
    background: url("../images/InsBG.jpg");
    color: white;
  }
  
  #pin {
    background: #cb2027;
    color: white;
  }
  
  footer .fa-circle {
    font-size: 5px;
    color: #fff;
  }
  
  .rights {
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: rgb(165, 165, 165);
  }
  
  .table-borderless {
    font-family: "Roboto", sans-serif;
    color: #fff;
  }
  
  .table-borderless td:first-of-type {
    text-align: end;
  }
  
  .table-borderless td {
    text-align: left;
  }
  
  .table-borderless th h5 {
    text-align: left;
  }
  
  #button-addon2{
    background-color: #ff9900;
    border: #ff9900 solid;
  }