body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

header {
  background-color: #222;
}

h1 {
  text-align: center;
  z-index: 1;
  color: rgba(255, 255, 255, 0.774);
}

h2 {
  text-align: center;
  top: -100px;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #222;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.tab button:hover {
  background-color: #444;
}

.tab button.active {
  background-color: #444;
}

.sidebar a {
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.tab button {
  display: block;
  background-color: #222;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #222;
  color: #fff;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
}

#toastbtn {
  position: fixed;
  right: 5%;
  top: 10%;
}

.tabcontent {
  background-color: #222;
  float: left;
  padding: 25px 12px;
  margin-left: 70px;
  width: 330px;
  height: 500px;
  color: rgba(255, 255, 255, 0.774);
}

.fa-exclamation-triangle,
.fa-chart-bar,
.fa-search-location,
.fa-walking,
.fa-motorcycle,
.fa-car,
.fa-bus,
.fa-info-circle {
  color: #818181;
  font-size: 40px;
}

.btn-close {
  color: rgba(255, 255, 255, 0.774);
  background-color: #fff;
}

.iconVehicule {
  display: flex;
  justify-content: space-around;
}

.fa-exchange-alt {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.iconEx {
  align-content: center;
}

.point {
  margin-left: 10px;
}

